<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 콘솔 로그 출력 설정 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 프로젝트 소스 관련 -->
    <logger name="com.spring" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <!-- 스프링 내부 관련 -->
    <logger name="org.springframework.beans" level="ERROR" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework.jndi" level="ERROR" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework.context.support" level="INFO" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework.web.servlet.DispatcherServlet" level="ERROR" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="ERROR" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <!-- Spring 트랜잭션 관리 로그 -->
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <!-- SQL Logger -->
    <logger name="log4jdbc" level="WARN" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="jdbc.connection" level="WARN" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="jdbc.audit" level="WARN" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="jdbc.resultset" level="WARN" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="jdbc.sqlonly" level="OFF" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="jdbc.resultsettable" level="OFF" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <!-- 기본 로그 레벨 설정 -->
    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>

</configuration>