<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="eventMapper">
	<insert id="insertEventHistory">
	    INSERT 
	      INTO EVENT_HISTORY (
	          EVENT_USER
	        , EVENT_URL
	        , EVENT_STATUS
	        , EVENT_MESSAGE
	    ) VALUES (
	          #{EVENT_USER}
	        , #{EVENT_URL}
	        , #{EVENT_STATUS}
	        , #{EVENT_MESSAGE}
	    )
	</insert>
</mapper>